body {
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}
a, a:hover {
	text-decoration: none;
	/*color: #333*/
}
#mousemenu {
	cursor: pointer;
	position: fixed;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: rgb(200, 200, 200);
}
#wrap {
	width: 1000px;
	height: auto !important;
	min-height: 1000;
	background-color: #E0E0E0;
	margin: 0 auto;
}
#header {
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName {
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left: 1px solid #999999;
	float: left;
}
#slogan {
	float: left;
	margin-top: 50px;
}
#searchBox {
	margin-left: 360px;
	margin-top: 40px;
	float: left;
}
#searchBox input {
	padding: -10px;
	width: 250px;
	height: 30px;
	float: left;
	font-size: 18px;
}
#search-icon {
	border-radius: 100px;
	position: absolute;
	margin-top: -10px;
	margin-left: -40px;
	width: 50px;
	height: 50px;
	background-color: red;
	background: url(../images/search-icon.jpg);
	float: left;
}
#sSubmit {
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	height: 36px;
	line-height: 36px;
	background-color: #566BE4;
}
#header_nav {
	width: 80%;
	opacity: 0.3;
}
#nav {
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
.nav_element {
	font-size: 20px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
#content {
	margin: 0 auto;
	width: 1000px;
	height: auto !important;
	min-height: 1000px;
}
#audio {
	width: 500px;
}
#playnow {
	border-radius: 5px;
	margin-top: 10px;
	width: 500px;
	height: 100px;
	background-color: rgb(60, 60, 60);
}
#playnowhint {
	color: white;
	float: left;
	width: 350px;
	margin-left: 20px;
	margin-top: 10px;
}
#playnow img {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	width: 80px;
	height: 80px;
}
#music_name {
	float: left;
	color: white;
	margin-top: 10px;
	margin-left: 20px;
}
#playList {
	margin-top: 10px;
	border-radius: 5px;
	color: white;
	width: 500px;
	height: 100px;
	background-color: rgb(60, 60, 60);
}
.music_element {
	margin-top: 5px;
	clear: left;
	margin-left: 10px;
	cursor: pointer;
	float: left;
	width: 480px;
}
.music_empty {
	float: left;
}
.music_num {
	float: left;
}
.music_element_name {
	float: left;
}
.music_download {
	float: left;
}
.music_download img {
	width: 25px;
	height: 25px;
}
#prevmusic img {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: -105px;
	margin-top: 60px;
}

/* #replay img {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: -110px;
	margin-top: 60px;
}
*/
#playstop img {
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: -60px;
	margin-top: 53px;
}
#nextmusic img {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: -5px;
	margin-top: 60px;
}
#playmode {
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 20px;
	margin-left: 450px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: gray;
	line-height: 20px;
	text-align: center;
}
#modechange {
	display: none;
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
	width: 100px;
	height: 70px;
	position: absolute;
	margin-left: 520px;
	background-color: rgb(60, 60, 60);
	/* background-color: gray;
	*/
	color: white;
}
#modechange hr {
	width: 80%;
	opacity: 0.3;
}
.modechange_element {
	cursor: pointer;
	margin-top: 5px;
}